*{
        padding: 0;
        margin: 0;
}

.link{

        padding: 26px;
}

#background{

        margin: auto;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
}


.card1{
        float: left;
        padding-bottom: 15px;
        margin-bottom: 30px;
        background: rgba(0, 0, 0, 0.247);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
}

.card2{
        padding-bottom: 15px;
        margin-bottom: 30px;
        background: rgba(0, 0, 0, 0.247);

}

.content-container{
        max-width: 1286.5px;
        margin:0 auto;
}

section{

        float: left;
        width: 50%;
       
}

.ai{

        padding-top:100px;
        float: left;
        width: 100%;
       
}

.ai h2{
        
        padding-bottom:10px;
        color: aqua;
        margin-left:50px;

}
.ai p{
        font-size: 17px;
        color:white;
        margin-left:50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration:underline;
        line-height:1.5;
}